body,
html {
  margin: 0;
  height: 100%;
}

.title {
  background-color: rgb(143, 143, 247);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 30px;
}

.container {
  display: grid;
  grid-template-columns: 250px auto;
  height: 100vh;
}

h2 {
  margin: 0;
  padding-bottom: 10px;
}

.project-div {
  border-right: 2px solid rgb(143, 143, 247);
  background-color: rgba(218, 218, 248, 0.5);
  padding: 10px 20px;
}

.preview {
}

button {
  border: none;
  font-weight: 900;
  font-size: 15px;
  padding: 3px;
}

button:hover {
  border: 1px solid rgb(218, 218, 248);
  background-color: rgb(143, 143, 247);
  border-radius: 5px;
}

.project-list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#project-dialog {
  width: 300px;
  height: 200px;
  padding: 20px;
  border: 1px solid rgb(218, 218, 248);
  border-radius: 6px;
}

form {
  padding: 15px;
}

input {
  padding: 5px;
}
